<div class="title">学生信息查询</div>
<mat-divider></mat-divider>

<div class="select">
<form (ngSubmit)="onSubmit()" [formGroup]="findForm" class="form">

  <mat-form-field class="row-full-width">   
    <mat-select placeholder="班级"  formControlName="selectClass" >
    <mat-option value={{item.id}} *ngFor="let item of classes">{{item.name}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="row-full-width">
  <input matInput placeholder="姓名"  formControlName="name" >
</mat-form-field>
<button mat-button (click)="getStudents()">确定</button>

</form>
</div>
<div class="content">
<table mat-table [dataSource]="dataSource" matSort >
    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef >序号</th>
      <td mat-cell *matCellDef="let element let i=index"> {{i+1}} </td>
    </ng-container>  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>姓名</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>  
    <!-- Weight Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>性别 </th>
      <td mat-cell *matCellDef="let element">{{element.sex}} </td>
    </ng-container>  
    <!-- Symbol Column -->
    <ng-container matColumnDef="id_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 出生日期 </th>
      <td mat-cell *matCellDef="let element"> {{element.id_number}} </td>
    </ng-container>  
    <!-- Symbol Column -->

    <ng-container matColumnDef="con1_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > 联系人 </th>
      <td mat-cell *matCellDef="let element"> {{element.con1_name}} </td>
    </ng-container>
    <ng-container matColumnDef="con1_phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 联系人电话 </th>
      <td mat-cell *matCellDef="let element"> {{element.con1_phone}} </td>
    </ng-container>
    <ng-container matColumnDef="class.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 班级 </th>
      <td mat-cell *matCellDef="let element"> {{element.class.name}} </td>
    </ng-container>

    <ng-container matColumnDef="id"  stickyEnd>
      <th mat-header-cell *matHeaderCellDef>操作</th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu" xPosition="before" > 
          <button mat-menu-item>详情</button>
         <a routerLink="detail/{{element.id}}" ><button mat-menu-item >修改</button></a>
          <button mat-menu-item (click)="deleteStudent(element.id)">删除</button>
        </mat-menu></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator  [pageSize]="8"
  [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  
</div>