<p>students-list works!</p>
<table mat-table [dataSource]="students" >
    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef>序号</th>
      <td mat-cell *matCellDef="let element let i=index"> {{i+1}} </td>
    </ng-container>  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>姓名</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>  
    <!-- Weight Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef>性别 </th>
      <td mat-cell *matCellDef="let element">{{element.sex}} </td>
    </ng-container>  
    <!-- Symbol Column -->
    <ng-container matColumnDef="id_number">
      <th mat-header-cell *matHeaderCellDef> 出生日期 </th>
      <td mat-cell *matCellDef="let element"> {{element.id_number}} </td>
    </ng-container>  
    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> 家庭住址 </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="con1_name">
      <th mat-header-cell *matHeaderCellDef> 联系人 </th>
      <td mat-cell *matCellDef="let element"> {{element.con1_name}} </td>
    </ng-container>
    <ng-container matColumnDef="con1_phone">
      <th mat-header-cell *matHeaderCellDef> 联系人电话 </th>
      <td mat-cell *matCellDef="let element"> {{element.con1_phone}} </td>
    </ng-container>
    <ng-container matColumnDef="className">
      <th mat-header-cell *matHeaderCellDef> 班级 </th>
      <td mat-cell *matCellDef="let element"> {{element.className}} </td>
    </ng-container>

    <ng-container matColumnDef="id" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu" xPosition="before" > 
          <button mat-menu-item>详情</button>
         <a routerLink="detail/{{element.id}}" ><button mat-menu-item >修改</button></a>
          <button mat-menu-item (click)="deleteStudent(element.id)">删除</button>
        </mat-menu></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-button (click)="getStudents()">get</button>